.imgContainer {
  overflow: hidden;
}

.FilmInfoBKG {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  object-fit: contain;
  z-index: 0;
  filter: brightness(0.5) sepia(1);
}

.FilterDiv {
  border: 2px solid rgba(107, 107, 107, 0.279);
  padding: 2rem;
  backdrop-filter: blur(7px);
}

.divSize {
  width: 16vw;
  height: 47vh;
}

.imgSize {
  width: 12vw;
  height: 32vh;
}

.similarImgSize {
  width: 12vw;
  height: 32vh;
}

.step {
  height: 15vh;
}

@media screen and (max-width: 1024px) {
  .divSize {
    width: auto;
    height: auto;
  }
  .imgSize {
    width: 25vw;
    height: 35vh;
  }
  .similarImgSize {
    width: 25vw;
    height: 35vh;
  }
}

@media screen and (max-width: 767px) {
  .similarImgSize {
    width: 60vw;
    height: 30vh;
  }
  .step {
    height: 5vh;
  }
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}
