.imgContainer {
  overflow: hidden;
}

.FilmInfoBKG {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  object-fit: contain;
  z-index: 0;
  filter: brightness(0.5) sepia(1);
}

.FilterDiv {
  border: 2px solid rgba(107, 107, 107, 0.279);
  padding: 2rem;
  backdrop-filter: blur(7px);
}

.divSize {
  width: 16vw;
  height: auto;
}

.imgSize {
  width: 13vw;
  height: auto;
}

.similarImgSize {
  width: 13vw;
  height: auto;
}

.step {
  height: 15vh;
}

@media screen and (max-width: 1024px) {
  .divSize {
    width: auto;
    height: auto;
  }
  .imgSize {
    width: 25vw;
    height: auto;
  }
  .similarImgSize {
    width: 25vw;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .similarImgSize {
    width: 60vw;
    height: auto;
  }
  .step {
    height: 5vh;
  }
}

@media screen and (max-width: 425px) {
  .similarImgSize {
    width: 45vw;
    height: auto;
  }
  .step {
    height: 5vh;
  }
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

.like {
  display: inline-block;
  left: 200px;
  top: 0em;

  background-image: url(../../img/LikeT.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}
.fill {
  animation: banuce 0.2s ease 0s 2 alternate;
  background-image: url(../../img/LikeR.svg) !important;
}
.fill::before {
  content: "";
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5%;
  height: 5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  box-shadow: 80px -40px 0 #fed001, 80px 40px 0 #fed001, -80px -40px 0 #fed001,
    -80px 40px 0 #fed001;
  animation: show 0.2s steps(1, end) 0s 1;
}

.player-wrapper {
  position: relative;
  padding-top: 43%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
