.footerPos {
  position: absolute;
  top: 0;
}

.Logo {
  object-fit: contain;
  width: 300px;
  padding: 0.7rem;
}

@media screen and (max-width: 767px) {
  .Logo {
    width: 250px;
  }
}
